body {
        background-color: #f6f6f6;
        font-family: "Roboto", sans-serif;
        margin: 0;
        height: 100vh;
      }
      .nav-link {
        color: #262338;
      }

      .nav-link {
        color: #262338;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #262586;
        transition: width 0.3s ease;
      }
      .nav-link:hover {
        color: #262586;
      }

      .nav-link:hover::after {
        width: 100%;
      }

      .btn:hover {
        background-color: #262486;
        color: white !important;
      }
      .form-label {
        font-family: poppins;
      }
      .form-check-label {
        font-family: poppins;
      }

      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 20px;
        gap: 12px;
        color: #262338;
        font-family: "Poppins", sans-serif;
      }
      .social-media a img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        transition: transform 0.2s ease;
      }
      .social-media a img:hover {
        transform: scale(1.1);
      }

      .social-media a {
        text-decoration: none;
      }

      .footer-link {
        display: inline-block;
        color: #262338;
        text-decoration: none;
        margin-top: 20px;
        position: relative;
        transition: color 0.3s ease;
      }

      .footer-link:hover {
        color: #262586;
        font-weight: 600;
      }
      .mega-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 600px;
        padding: 20px;
        display: none;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        display: none;
        flex-wrap: wrap;
        gap: 40px;
        z-index: 999;
      }

      .mega-column a:hover {
        color: #262586;
        background-color: #f5f5f5;
        border-radius: 4px;
        padding-left: 5px;
      }

      .nav-item:hover .mega-dropdown {
        display: flex;
      }

      .mega-column {
        flex: 1;
        min-width: 200px;
      }

      .mega-column h4 {
        font-size: 16px;
        color: #262586;
        margin-bottom: 10px;
        /* font-family: poppins; */
      }

      .mega-column a {
        display: block;
        padding: 6px 0;
        color: #262338;
        text-decoration: none;
        /* font-family: poppins; */
      }

      .mega-column a:hover {
        color: #262586;
      }
      .custom-purple-btn {
        color: #262586;
        border: 1px solid #262586;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: 4px;
        background-color: transparent;
        transition: all 0.3s ease;
        text-decoration: none;
      }

      .custom-purple-btn:hover {
        background-color: #262586;
        color: white;
        text-decoration: none;
      }
      .image img {
        margin: 0px 20px;
        /* width: 100%; */
        width: 1470px;
        height: 380px;
        object-fit: cover;
        margin-top: 50px;
        padding: 0px;
      }