body {
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-color: rgba(1, 1, 1, 25%);
    filter: brightness(70%);
}
.text-box {
    position: absolute;
    top: 140px;
    left: 55px;
    padding: 40px;
    box-sizing: border-box;
    color: white;
    width: 600px;
}

.text-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    font-family: roboto;
}

.text-box p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: medium;
    font-family: poppins;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}
.containers {
    display: flex;
    gap: 100px;
    /* margin-top: 50px; */
    background-color: #557afd17;
    height: 400px;
}

.img img {
    height: 380px;
}
.see-more-btn {
    border: none;
    /* background-color: rgba(229, 239, 242, 0.4);  */
    background-color: #bbbaff0d;
    color: #262586;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    overflow: hidden;
}

.see-more-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #262586;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.see-more-btn:hover::after {
    transform: scaleX(1);
}

.book-now-btn {
    margin-left: 120px;
    margin-top: 20px;
    border: none;
    color: #f6f6f6;
    background-color: #02005f;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    overflow: hidden;
}

.book-now-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #f6f6f6;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.book-now-btn:hover::after {
    transform: scaleX(1);
}


.mega-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    display: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: none;
    flex-wrap: wrap;
    gap: 40px;
    z-index: 999;
}

.mega-column a:hover {
    color: #262586;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding-left: 5px;
}

.nav-item:hover .mega-dropdown {
    display: flex;
}

.mega-column {
    flex: 1;
    min-width: 200px;
}

.mega-column h4 {
    font-size: 16px;
    color: #262586;
    margin-bottom: 10px;
    /* font-family: poppins; */
}

.mega-column a {
    display: block;
    padding: 6px 0;
    color: #262338;
    text-decoration: none;
    /* font-family: poppins; */
}

.mega-column a:hover {
    color: #262586;
}
.custom-purple-btn {
    color: #262586;
    border: 1px solid #262586;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-purple-btn:hover {
    background-color: #262586;
    color: white;
    text-decoration: none;
}
.image-container {
    position: relative;
    width: 2800px;
    height: 400px;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 6s infinite;
}

.image-container img:nth-child(1) {
    animation-delay: 0s;
}

.image-container img:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
